body
{
	background-color: wheat;
	margin-left: auto;
	margin-right: auto;
}
.grid-container {
	display: grid;
	grid-template-columns: 30% auto 30%;
	grid-gap: 2%;
  
}
img{
  border-radius: 10%;
  margin: 1% 1%;
}
.grid-container > div{
	text-align: center;
    font-family: 'Segoe UI';
	border: 3px dashed black;
  border-radius: 5%;
  margin: 0 5%;
}

#header{
   
    font-size: 30px;
    font-weight: bold;
    padding: 5%;
    text-shadow: 0 0 5px rgb(255, 255, 255);
	grid-column: 1 / span 3;
	
}
#Food-Pic,#ingredient-pic
{
    display: block;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
    
}
#Food-Name
{
    text-align: center;
    margin-top: 20%;
    font-size: 30px;
    font-weight: bold;
}
#navbar{
	grid-column: 1/span 1;
	
}
#navbar li
{
	box-sizing: border-box;
	font-size: 150%;
	list-style: none;
	text-align: left;
}
#main1{
	
	grid-column: 2/span 1;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
#main2
{
	grid-column: 3 /span 1;

}
#main2 img
{
	object-fit: cover;
	width: 100%;
}
#footer
{
	grid-column: 1/span 3;
	object-fit:cover;
	background-color: black;
	font-size: 100px;
}
#topic-ingredient,#Food-Instruction
{
    margin-bottom: 10%;
    margin-left: 10%;
    margin-top: 20%;
    font-size: 30px;
    font-weight: bold;
}
.Howto
{
	font-weight: bold;
    font-size: 30px;
}
.Food-List
{
    margin-left: auto;
    font-size: auto;
}

#footer{
  font-size: 100%;
}

@media only screen and (max-width: 768px) {
	.grid-container {
		display: grid;
		 
		  
	}
	#header{
		grid-column: 1 / span 3;
		align-items: center;
	}
	#navbar
	{
		grid-column: 1 / span 1;
	}
	#main1
	{
		grid-column: 2 / span 2;
	}
	#main2
	{
		grid-column: 1 / span 3;
	}
	

	
	#footer{
		grid-column: 1 / span2;
	}
}

@media only screen and (max-width: 480px) {
	.grid-container {
		display: grid;
		 
	}
	#header{
		grid-column: 1/span 3;
		object-position: center;
	}
	#navbar
	{
		grid-column: 1 / span 3;
	}
	#main1
	{
		grid-column: 1 / span 3;
	}
	#main2
	{
		grid-column: 1 / span 3;
		
	}
	#footer{
		grid-column: 1 / span 3;
	}
}