* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

a:visited {
  text-decoration: none;
}

header {
  display: block;
  grid-template-columns: auto auto auto;
  box-shadow: 0 0 50px rgb(188, 188, 188);
  position: sticky;
  top: 0;
}

.header {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  background-color: white;
  font-size: 150%;
  padding: 1% 0;
  font-family: 'Dela Gothic One', cursive;
}

.container-header-left {
  display: block;
  grid-column: 1;
  text-align: center;
}

.container-header-center {
  grid-column: 2;
  text-align: center;
}

.container-header-center a {
  padding: 0 5%;
  text-decoration: none;
  color: black;
  transition: text-decoration 0.5s;
}

.container-header-center a:hover {
  text-decoration: underline;
}

.container-header-right {
  box-sizing: border-box;
  grid-column: 3;
  text-align: center;

}

#project-button {
  font-family: 'Dela Gothic One', cursive;
  font-size: 50%;
  padding: 10px;
  border-radius: 20px;
  color: white;
  background-color: black;
  cursor: pointer;
}


/* Profile */
.profile {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 5% auto;
  align-items: center;
}

.profile-name {
  grid-column: 1;
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 400%;
  font-family: 'Roboto', sans-serif;
}

#describe {
  color: white;
  grid-column: 1;
  font-size: 40%;
  margin: 0 auto;
}

#profile-picture {
  grid-column: 2;
}

#profile-pic {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  object-position: 55%;
}

.aboutme-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  text-align: center;
}

.interest-container,
.hobby-container {
  list-style: none;
  background-color: white;
  margin: auto;
  padding: 20px;
  border-radius: 30px;
  font-size: 100%;
  display: block;
  color: black;
  transition: padding 1s;
  font-family: 'Dela Gothic One', cursive;
}

.hobby-container {
  grid-column: 1;
  grid-row: 2;
}

#about-tag {
  display: block;
  color: white;
  text-align: center;
  font-size: 100%;
  align-items: center;
}

.interest-container {
  grid-column: 2;
  grid-row: 2;
}

.interest-container:hover,
.hobby-container:hover {
  padding: 30px;
}

.skills {
  margin-top: 5%;
  display: block;
  color: white;
  text-align: center;
  font-size: 500%;
  align-items: center;
}

.skill-container {
  display: flex;
  border: 1px solid rgb(95, 94, 94);
  justify-content: space-around;
  width: 1000px;
  margin: 5px auto;
  height: 100px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-top: 5%;
  transition: width 1s;
}

.skill-container:hover {
  width: 100vw;
}


.assignmet-head {
  display: block;
  color: white;
  text-align: center;
  font-size: 500%;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.assignment,
.project {
  display: flex;
  border: 1px solid rgb(95, 94, 94);
  justify-content: space-around;
  width: 1000px;
  margin: 5px auto;
  height: 100px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  margin-top: 5%;
  transition: width 1s;
}

#assignment-button {
  font-family: 'Dela Gothic One', cursive;
  padding: 15px;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  background-color: black;
  cursor: pointer;
}

.assignment:hover,
.project:hover {
  width: 100vw;
}

footer {
  background-color: white;
  width: 100vw;
  display: block;
  box-shadow: 0 0 50px rgb(188, 188, 188);
  top: 0;
  bottom: 0;
}

.social {
  font-family:'Dela Gothic One', cursive;;
  margin-top: 10%;
  color: black;
  background-color: white;
  text-align: center;
  padding: 10px;
  font-size: 150%;
}

.social img {
  width: 5%;
  margin: 1%;
}


#project-tag {
  display: flex;
  font-size: 500%;
  font-family: 'Pixelify Sans', cursive;
  color: white;
  justify-content: center;
  margin-top: 2%;
}
.project-slider{
  display: flex;
  margin-top: 5%;
}
.project-image{
  display: flex;
  justify-content: center;
}
.project-image img{
  width: 30%;
  padding: 1%;
  border-radius: 50%;
}
.content-game{
  border: 5px solid white ;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  border-radius: 10px;
  padding: 1%;
  font-family: 'Pixelify Sans', cursive;
}
#content-ingame{
  color: white;
  font-size: 200%;
  display: flex;
  justify-content: center;
}
.game-template{
  margin-top: 5%;
  font-size: 300%;
  color: white;
  font-family: 'Pixelify Sans', cursive;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .container-header-left {
    visibility: hidden;
  }

  .container-header-center {
    grid-row: 1;
    grid-column: 1/ span 3;
    justify-content: center;
    margin-top: 5%;
  }

  .container-header-right {
    margin-top: 5%;
    grid-row: 2;
    grid-column: 1/ span 3;
  }

  .profile-name {
    font-size: 200%;
    grid-column: 1/ span2;
    margin: 10px auto;
  }

  #profile-picture {
    grid-column: 1/ span 2;
    width: 1vw;
    margin-top: 10%;

  }

  .aboutme-container {
    font-size: 0px;
    transition: font-size 1s;
  }

  .aboutme-container:hover {
    font-size: 100%;
  }

  .skill-container {
    width: 70vw;
  }

  .assignment {
    width: 70vw;

  }

  #assignment-button {
    font-size: 50%;
  }
  .project {
    width: 70vw;
  }
  .project-content{
    font-size: 50%;
  }

}

@media only screen and (max-width: 560px) {
  .container-header-left {
    visibility: hidden;
  }

  .container-header-center {
    font-size: 75%;
    grid-row: 1;
    grid-column: 1/ span 3;
    justify-content: space-around;
    margin-top: 5%;
  }

  .container-header-right {
    margin-top: 5%;
    grid-row: 2;
    grid-column: 1/ span 3;
  }

  .profile-name {
    font-size: 200%;
    grid-column: 1/ span2;
    margin: auto;
  }

  #profile-picture {
    grid-column: 1/ span 2;
    
  }

  .aboutme-container {
    font-size: 0px;
    transition: font-size 1s;
  }

  .aboutme-container:hover {
    font-size: 100%;
  }

  .skill-container {
    width: 70vw;
  }

  .assignment {
    width: 70vw;

  }

  #assignment-button {
    font-size: 30%;
  }


  .project {
    width: 70vw;
  }

  .assignmet-head {
    font-size: 300%;
  }

  #about-tag {
    font-size: 100%;
  }
}
