* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

a:visited {
  text-decoration: none;
}

header {
  display: block;
  grid-template-columns: auto auto auto;
  box-shadow: 0 0 50px rgb(188, 188, 188);
  position: sticky;
  top: 0;
}

.header {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  background-color: white;
  font-size: 150%;
  padding: 1% 0 ;
  font-family: 'Dela Gothic One', cursive;
}

.container-header-left {
  display: block;
  grid-column: 1 ;
  text-align: center;
  cursor: pointer;
}

.container-header-center {
  grid-column: 2;
  text-align: center;
}

.container-header-center a {
  padding: 0 5%;
  text-decoration: none;
  color: black;
  transition: text-decoration 0.5s;
}

.container-header-center a:hover {
  text-decoration: underline;
}

.container-header-right {
  box-sizing: border-box;
  grid-column: 3;
  text-align: center;
  
}

#project-button {
  font-family: 'Dela Gothic One', cursive;
  font-size: 50%;
  padding: 5% 10%;
  border-radius: 20px;
  color: white;
  background-color: black;
  cursor: pointer;
}


/* Profile */
.profile {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 5% auto;
  align-items: center;
}

.profile-name {
  grid-column: 1 ;
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 400%;
  font-family: 'Roboto', sans-serif;
}
#describe{
  color: white;
  grid-column: 1;
  font-size: 40%;
  margin: 0 auto;
}
#profile-picture{
  grid-column: 2;
  margin: 0 auto;
}
#profile-pic {
  width: 500px;
  height: 500px;
  object-fit: cover ;
  border-radius: 20px;
  object-position: 55%;

}
.skills{
  display: block;  
  color: white;
  text-align: center;
  font-size: 500%;
  align-items: center;
}
.skill-container{
  display: flex;
  border: 1px solid rgb(95, 94, 94);
  justify-content: space-around;
  width: 1000px;
  margin: 5px auto;
  height: 100px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}



