fieldset
{
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: white;
  border: none;
  text-align: center;
  width: 650px;
  padding-bottom: 20px;
  align-items: center;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px black;
  font-size: 18px;
}
.register_form
{
  margin: 50% 50% 50% 50%;
}
.genderbox
{
  display: block;
  padding-bottom: 20px;
}
.birthdaybox
{
  display: block;
  padding-bottom: 20px;
}
fieldset input{
  border-radius: 5px;
  padding: 5px;
  border: none;
  background-color: rgb(234, 234, 234); 
}
.group_button
{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#submit_button
{
  margin-right: 20px;
}
#submit_button,#reset_button
{
  padding: 15px 50px;
  background-color: #ffb835;
  border-radius: 20px;
  box-shadow: 0 0 5px gray;
  font-weight: bold;
}
#register_tag
{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 0px;
}
body
{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}